.tabs {
  .categories {
    gap: $tab-gap;
    display: flex;
    align-items: center;
    padding: $pd-medium;
    margin-top: $mr-3;
    margin-bottom: $mr-3;
    box-sizing: border-box;
    background-color: $opacity-card-color;

    @media screen and (max-width: $mq-6) {
      overflow-x: auto;
    }

    .category {
      &-name {
        margin-left: $mr-short;
      }

      &.active, &.desactive:hover {
        opacity: 1;

        &.ccc02 {
          color: $cars-color
        }

        &.ccc03 {
          color: $health-color
        }

        &.ccc04 {
          color: $home-color
        }
      }

      &.desactive {
        opacity: .4;
      }

      @media screen and (max-width: $mq-6) {
        flex-shrink: 0;
      }
    }
  }

  .tab-content {
    gap: 35px;
    display: flex;

    @media screen and (max-width: $mq-2) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      overflow: hidden;
    }
  }
}