$btn-save-form: #289028;
$btn-cancel-form: #b30404;
$btn-background-color: #e5e5e5;
$error-message-color: rgba(255, 0, 0, 0.588);
$text-card-description: rgba(0, 0, 0, 0.75);
$opacity-border-color: rgba(200, 200, 200, 0.506);
$opacity-card-color: rgba(0, 0, 0, 0.030);
$outline-color: #017bd2;
$cars-color: #bb9f00;
$health-color: #12ad0c;
$home-color: #0d81e0;
$footer-background: #1d1919;
