$mr-short: 4px;
$mr-1: 7px;
$mr-2: 14px;
$mr-3: 21px;
$mr-large: 5em;
$mr-large: 5em;
$pd-1: 10px;
$pd-medium: 1.5em;
$fs-title: 32px;
$fs-subtitle: 24px;
$max-width: 1180px;
$br-radius-1: 3px;
$br-radius-2: 8px;
$tab-gap: 45px;
$lh-card: 1.8;
$services-gap: 20px 24px;
