
$mr-1: 7px;
$mr-2: 14px;
$mr-3: 21px;
$mr-large: 5em;
$mr-medium: 3em;
$mr-min: 1.25em;
$mr-short: 4px;
$pd-1: 10px;
$pd-medium: 1.5em;
$fs-title: 32px;
$fs-subtitle: 24px;
$max-width: 1180px;
$br-radius-1: 3px;
$br-radius-2: 8px;
$tab-gap: 45px;
$lh-card: 1.8;
$services-gap: 20px 24px;
$mq-1: 1200px;
$mq-2: 960px;
$mq-3: 800px;
$mq-4: 700px;
$mq-5: 600px;
$mq-6: 480px;
